# RateBeer

In [12]:
import pandas as pd

## Files loadings

In [10]:
beers_rate = pd.read_csv("../../data/RateBeer/beers.csv", sep=",")
breweries_rate = pd.read_csv("../../data/RateBeer/breweries.csv", sep=",")
users_rate = pd.read_csv("../../data/RateBeer/users.csv", sep=",")

data = []
with open("../../data/RateBeer/ratings.txt", "r", encoding="utf-8") as file:
    current_rating = {}  
    
    for line in file:
        line = line.strip()  
        if ": " in line:  
            key, value = line.split(": ", 1)
            current_rating[key] = value  
        elif not line:  
            if current_rating:
                data.append(current_rating)
                current_rating = {} 
    if current_rating:
        data.append(current_rating)

ratings_rate = pd.DataFrame(data)

In [4]:
beers_rate.head()

,beer_id,beer_name,brewery_id,brewery_name,style,nbr_ratings,overall_score,style_score,avg,abv,avg_computed,zscore,nbr_matched_valid_ratings,avg_matched_valid_ratings
0,410549,33 Export (Gabon),3198,Sobraga,Pale Lager,1,NaN,NaN,2.72,5.0,2.000000,NaN,0,NaN
1,105273,Castel Beer (Gabon),3198,Sobraga,Pale Lager,10,5.0,58.0,2.18,5.2,1.910000,NaN,0,NaN
2,19445,Régab,3198,Sobraga,Pale Lager,27,1.0,22.0,1.83,4.5,1.811111,NaN,0,NaN
3,155699,Ards Bally Black Stout,13538,Ards Brewing Co.,Stout,6,NaN,NaN,3.18,4.6,3.866667,0.823699,6,3.866667
4,239097,Ards Belfast 366,13538,Ards Brewing Co.,Golden Ale/Blond Ale,1,NaN,NaN,2.79,4.2,3.000000,NaN,0,NaN

In [5]:
breweries_rate.head()

      id          location                       name  nbr_beers
0   3198             Gabon                    Sobraga          3
1  13538  Northern Ireland           Ards Brewing Co.         13
2  22304  Northern Ireland  Barrahooley Craft Brewery          4
3  22818  Northern Ireland                   Boundary         66
4  24297  Northern Ireland            Brewbot Belfast          3

In [6]:
users_rate.head()

   nbr_ratings  user_id     user_name        joined location
0         1890   175852       Manslow  1.337508e+09   Poland
1           89   442761  MAGICuenca91  1.484046e+09    Spain
2          169   288889        Sibarh  1.384600e+09   Poland
3         3371   250510       fombe89  1.363950e+09    Spain
4        13043   122778    kevnic2008  1.296644e+09  Germany

In [7]:
ratings_rate.head()

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text
0,33 Export (Gabon),410549,Sobraga,3198,Pale Lager,5.0,1461664800,Manslow,175852,2,4,2,4,8,2.00,"Puszka 0,33l dzięki Christoph . Kolor jasnozło..."
1,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,1487329200,MAGICuenca91,442761,2,3,2,4,8,1.90,Cerveza pale lager gabonesa. MÃ¡s floja que la...
2,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,1466762400,Sibarh,288889,3,3,2,3,5,1.60,"Kolor- złoty, klarowny. Piana - drobna, średni..."
3,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,1451646000,fombe89,250510,4,3,1,2,5,1.50,"Botella, de GabÃ³n regalo familiar.31/01/2015C..."
4,Castel Beer (Gabon),105273,Sobraga,3198,Pale Lager,5.2,1445594400,kevnic2008,122778,2,4,2,4,7,1.90,Many thanks for this beer to Erzengel. Pours l...

## Data processing

In [9]:
int_columns = ["beer_id", "brewery_id", "date", "user_id", "appearance", "aroma", "palate","taste","overall"]

for col in int_columns:
    if col in ratings_rate.columns:
        ratings_rate[col] = pd.to_numeric(ratings_rate[col], errors='coerce')  # Convert to numeric
        ratings_rate[col] = ratings_rate[col].fillna(0).astype('int64')  # Fill NaNs with 0 and convert to int64